@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a090b;
    /* Fallback */
    background-color: theme('colors.vedic.bg');
    color: theme('colors.vedic.text');
    font-family: 'Outfit', sans-serif;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1A1A1A;
}

::-webkit-scrollbar-thumb {
    background: #FF9933;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFD700;
}